---
import '../styles/global.css';

const pageTitle = "hakkımızda";
const skillColor = "crimson";
const fontWeight = "600";
const textCase = "uppercase";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
        <style define:vars={{skillColor,fontWeight,textCase}}>
      h1 {
        color: black;
        font-size: 4rem;
      }
      .skill{
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/Team/">Blog</a>
    <h1>{pageTitle}</h1>
    
  </body>
</html>