---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "İletişim";
const skillColor = "crimson";
const fontWeight = "500";
const textCase = "uppercase";
---


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
        <style define:vars={{skillColor,fontWeight,textCase}}>
      h1 {
        color: black;
        font-size: 4rem;
      }
      .skill{
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <BaseLayout>
    <h4>{pageTitle}</h4>
      <p>maişasşsalgnsalşgkn </p>
  </BaseLayout>
  </body>
</html>

