---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "anasayfa";
import Button from '../components/Button.astro';
---

<BaseLayout> 

<div class="left-content ">
<h1>Agora, gerçekten nedir?</h1>
<p> aisglaşslmasglmaşglm</p>


<Button 
  text="Gerçekten, neden?" 
  href="/about" 
  variant="secondary" />
</div>

<div class="right-content">
<h1>Sunduğumuz Eğitim Programları</h1>
<p>Birden Fazla Eğitmen Tek Bir Çatıda: 3 Ayrı Seviye İçin Kurslar, Online Lig... </p>


<Button 
  text="dahası" 
  href="/kurslar" 
  variant="secondary" />
</div>

</BaseLayout>



