---
import Header from '../components/Header.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "anasayfa";
import Button from '../components/Button.astro';    
---

<BaseLayout> 

<div class="center-content">
<h1>İnsan zihninin sınırları...</h1>
<p> lhknfdlhkdf</p>


<Button 
  text="Peki, nasıl?" 
  href="/posts/post-1" 
  variant="secondary" />
</div>

</BaseLayout>



