---
import Header from '../components/Header.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "anasayfa";
---

<BaseLayout> 
<h2>Go Akademisi </h2>
<p> asgjnasgljasgblasglasgksalgabgl</p>
</BaseLayout>



