---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>



<footer>
  <p>© 2025 Agora</p>
  <a href="https://www.youtube.com/channel/UCao8k7RVbz8b2jcaHKeVi3Akjnsalkn" target="_blank" rel="noopener">
    <img src="/public/youtube.png" alt="YouTube" class="social-icon" />
  </a>
  <a href="https://www.patreon.com/withastro" target="_blank" rel="noopener">
    <img src="/public/patreon.png" alt="Patreon" class="social-icon" />
  </a>
  <a href="https://www.instagram.com/astrodotbuild" target="_blank" rel="noopener">
    <img src="/public/instagram.png" alt="Instagram" class="social-icon" />
  </a>
</footer>
