---
import Menu from './Menu.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <a href="about">Hakkımızda</a>
    </div>
    
    <div class="top-bar-right">
      <a href="#">Ko-fi</a>
      <ThemeIcon />
    </div>
    
  </div>

  <nav class="main-nav-bar">
      <Navigation />
  </nav>
</header>