---
---

<nav> 
  <div id="main-menu" class="nav-links">
    </div>

<div id="main-menu" class="nav-links">
<a href="/" class="logo-link">
    <img src="/public/deer.png" alt="Go Akademisi Logosu" class="logo" />
  </a>
<a href="/about/">Hakkımızda</a>
<a href="/blog/">Go Kütüphanesi</a>
<a href="/kurslar/">Eğitimler</a>
  </div>
</nav>

<style>
  .nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logo {
    height: 50px;
    width: auto;
    display: block;
    border radius: 4px;
    transition: transform 0.2s;
  }

  .logo-link {
    display: inline-block;
    text-decoration: none;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>


