---
---

<nav> 
  <div class="nav-links">
    
    <a href="/" class="logo-link">
      <img src="/public/deer.png" alt="Go Akademisi Logosu" class="logo" />
    </a>
    
    <a href="/about/">Hakkımızda</a>
    <a href="/blog/">Kütüphane</a>
    
    <div class="dropdown">
      
      <a href="/kurslar/">Eğitimler</a>
      
      <div class="dropdown-content">
        <a href="/kurslar">Programlar</a>
        <a href="/lig">Online Lig</a>
        <a href="/">...</a>
      </div>
      
    </div>
    
    </div>
</nav>
<style>

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 50px;
  width: auto;
  display: block;
  border-radius: 4px; 
  transition: transform 0.2s;
}

.logo-link {
  display: inline-block;
  text-decoration: none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links > a, 
.dropdown {
  display: flex;
  align-items: center;
  
}

.dropdown {
  position: relative; 
}


.dropdown-content {
  display: none; 
  position: absolute; 
  top: 100%; 
  left: 0; 
  background-color: #f9f9f9; 
  min-width: 180px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 1; 
  border-radius: 4px; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px; 
  text-decoration: none; 
  display: block; 
  text-align: left; 
}


.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>


