---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const {pageTitle} = Astro.props;
---
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
  
    <title>{pageTitle}</title>
  </head>

  <body>
    
    <div id="tsparticles"></div>

    <div class="page-content">
      <Header />
      <slot /> <Footer />
    </div>
    
    <script is:inline src="/node_modules/tsparticles-slim/tsparticles.slim.bundle.min.js"></script>
    
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        tsParticles.load("tsparticles", {
          zIndex: { value: 0 },
          particles: {
            number: { value: 30, density: { enable: true, value_area: 800 } },
            color: { value:[  "#000000","#ffffff" ]},
            shape: { type: "circle" },
            opacity: {
              value: 0.5,
              random: false,
              anim: { enable: false, speed: 0.5, opacity_min: 0.1, sync: false }
            },
            size: {
              value: 20,
              random: false,
              anim: { enable: false, speed: 2, size_min: 5, sync: false }
            },
            move: {
              enable: true,
              speed: 0.1,
              direction: "none",
              random: "true",
              straight: "false",
              out_mode: "bounce",
              bounce: "true",
            }
          },
          interactivity: {
            detect_on: "canvas",
            
            events: {
              onhover: { enable: false, mode: "repulse" },
              onclick: { enable: false },
              resize: true
            }
          },
          detectRetina: true
        });
      });
    </script>
  </body>
</html>